<html lang="en">

<head th:replace="base::header">
    <nav th:replace="base::navbar"></nav>
</head>

<body>
    <div class="container">
        <div class="columns is-multiline">
            <div th:if="${products!=null}" th:each="product: ${products}">
                <div th:if="${product.category.name=='Laptop'}">
                    <div class="column">
                        <a th:href="@{/product/{id}(id=${product.id})}">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img th:src="'data:image/png;base64,' + ${product.setImageBase64(product.image)}"
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5" th:text="${product.name}"></p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="columns" style="margin-top: 15px;">
                                            <div class="column">
                                                <p style="color: black;font-size: 20px;"
                                                    th:text="${'৳ ' + product.price}">
                                                </p>
                                            </div>
                                            <div class="column">
                                                <a style="margin-left: 10px;" class="button is-pulled-right card-button"
                                                    th:href="@{/customer/add-favorite/{id}(id=${product.id})}"><i
                                                        style="color: #fcc93a;" class="fas fa-heart"></i></a>
                                                <a th:href="@{/add-to-cart/{id}(id=${product.id})}"
                                                    class="button is-pulled-right card-button"><i
                                                        style="color: #fcc93a;"
                                                        class="fas fa-solid fa-cart-plus"></i></a> &nbsp;

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>